---
import '../styles/global.css';
const { frontmatter } = Astro.props;
---
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <nav>
        <a href="/">Início</a>
        <a href="/about/">Sobre</a>
        <a href="/blog/">Blog</a>
    </nav>
    <main class="post-container">
        <header class="post-header">
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="post-image" />
            <div class="post-meta-container">
                <p class="post-meta">Escrito por <strong>{frontmatter.author}</strong> em {frontmatter.pubDate.toString().slice(0,10)}</p>
                <p class="post-description"><em>{frontmatter.description}</em></p>
                <div class="tags">
                    {frontmatter.tags.map((tag) => (
                        <span class="tag">#{tag}</span>
                    ))}
                </div>
            </div>
        </header>
        
        <article class="post-content">
            <slot />
        </article>
    </main>
  </body>
</html>
